body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(20, 19, 19);
    color: white;
    font-family: "Montserrat", sans-serif;
    overflow: hidden;
    height: 90vh;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 5%;
}

.cursive {
    font-style: oblique;
}
h1 {
    color: whitesmoke;
    text-align: center;
    margin-top: 10%;
}
strike {
    color: royalblue;
}
.text_input {
    text-align: center;
}
input {
    height: 50px;
    width: 300px;
    border: none;
}

input:focus {
    border: 1px solid royalblue;
}
.btn {
    background-color: royalblue;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 1px 7px;
    height: 50px;
    width: 70px;
}
.btn:hover {
    opacity: 0.8;
}

button img {
    height: 20px;
    width: 20px;
}

/* Paste Input text */
.paste {
    text-align: center;
    margin-top: 5%;
}
.paste input {
    height: 200px;
    border-radius: 10px;
    text-align: center;
}