<!DOCTYPE html>
<head><title>Download Files</title></head>
<link rel="stylesheet" href="{{ url_for('static', filename='css/linkstyles.min.css') }}">

<h1>File Sharing Platform</h1>
<h2>Download Link</h2>

<h2>File:</h2>
<h3>{{content}}</h3>
<div class="container">
    <a href="https://andrestore.blob.core.windows.net/storage/{{content}}" class="downloadBtn">Click to download</a>
</div>

<p class="txtcenter">Please do not abuse!! :(</p>
<p class="txtcenter copy">Created by <a href="https://andreyap.com" target="_blank">Andre</a><br /><a href="mailto:andre@andreyap.com">Contact Me</a><br>Files will be hosted for 3 days before being automatically deleted.<br>This project is <a href="https://github.com/lightcoxa/Flask-FileServer" target="_blank">open-sourced</a> :)</p>
<script src="{{ url_for('static', filename='js/linkscript.js') }}"></script>
</html>