<!DOCTYPE html>
<link rel="stylesheet" href="{{ url_for('static', filename='css/linkstyles.css') }}">

<h1>Download Link</h1>

<div class="container">
    <h2>Your code is:<br>{{ content }}</h2>
    <input id="text_input" class="text_input" type="text" value="{{content}}" readonly>
    <button class="btn" id="btn"><img src="{{ url_for('static', filename='img/clipboard-outline.svg') }}"></button>
    <h2>Link to download:</h2>
    <input id="text_input" class="text_input" type="text" value="https://send.andreyap.com/receive/{{content}}" readonly>
    <button class="btn" id="btn"><img src="{{ url_for('static', filename='img/clipboard-outline.svg') }}"></button>
</div>

<script src="{{ url_for('static', filename='js/linkscript.js') }}"></script>
</html>