<!DOCTYPE html>
<head><title>Send Files</title></head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.min.css') }}">

<h1>File sharing platform</h1>

<form id="upload-file" method="post" enctype="multipart/form-data">
	<h3>Upload File:</h3>
	<div class="input-file-container">
		<input class="input-file" id="my-file" type="file" name="file">
		<label tabindex="0" for="my-file" class="input-file-trigger">Select a file...</label>
	</div>
	<p class="file-return"></p>
    <button class="upload-file" type="button" id="upload-file-btn" hidden data-toggle="modal" data-target="#uploadModal">Upload</button>
</form>

<div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="Uploading" aria-hidden="true" data-keyboard="false" data-backdrop="static">
	<div class="modal-dialog">
	  <div class="modal-content">
		<div class="modal-header">
		  <h4 class="modal-title in" id="myModalLabel">This is taking longer than expected, please be patient :(</h4>
		</div>
		<div class="modal-body center-block">
		  <div class="progress">
			<div id="progressBar" class="progress-bar bar progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
		  </div>
		</div>
		<div class="modal-footer">You will automatically be redirected once uploading is completed :)</div>
	  </div>
	</div>
  </div>

<p class="txtcenter">Please try to make your filename unique to prevent collision!<br>Maximum file size: 10GB<br>Please do not abuse!! :(</p>
<div style="text-align: center;margin:3%;"><a href="/receive" class="downloadBtn">Receive Files</a></div>
<p class="txtcenter copy">Created by <a href="https://andreyap.com" target="_blank">Andre</a><br /><a href="mailto:andre@andreyap.com">Contact Me</a><br>Files will be hosted for 3 days before being automatically deleted.<br>This project is <a href="https://github.com/lightcoxa/Flask-FileServer" target="_blank">open-sourced</a> :)</p>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
<script src="{{ url_for('static', filename='js/upload.js') }}"></script>
</html>

