<!DOCTYPE html>
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

<h1>File sharing platform</h1>
<h2></h2>

<form method="post" enctype="multipart/form-data">
	<div class="input-file-container">
		<input class="input-file" id="my-file" type="file" name="file">
		<label tabindex="0" for="my-file" class="input-file-trigger">Select a file...</label>
	</div>
	<p class="file-return"></p>
    <input class="upload-file" type="submit" value="Upload" hidden>
</form>

<p class="txtcenter">Maximum file size: 10GB<br>Please do not abuse!! :(</p>
<p class="txtcenter copy">by <a href="https://andreyap.com" target="_blank">Andre</a><br /><a href="mailto:andre@andreyap.com">Contact Me</a><br>Files will be hosted for 3 days before being automatically deleted.</p>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</html>

